<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>J|A</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An experimental rating app">
    <meta name="author" content="Mark Howard">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
    <body class ="text-light">
      <div id="app">
        <router-view></router-view>
      </div>
      <script type="text/x-template" id="register-template">
      <div>
      <main-menu></main-menu>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-3 vertical-center">
            <form class="w-100" novalidate>
              <div class="form-group">
                <label for="email">Email address</label>
                <input v-validate="'required|email'" data-vv-delay="1000" name="email" type="email"
                v-model="email" class="form-control" v-bind:class="{'is-invalid': errors.has('email')}" id="email" placeholder="Enter email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="invalid-feedback">
                  {{errors.first('email')}}
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input v-validate="'required|min:4|max:256'" data-vv-delay="1000" name="password" type="password" v-model="password" class="form-control" v-bind:class="{'is-invalid': errors.has('password')}" id="password" placeholder="Password">
                <div class="invalid-feedback">
                  {{errors.first('password')}}
                </div>
              </div>
              <button type="button" v-on:click="validateBeforeSubmit" class="btn btn-outline-light">Register</button>
            </form>
          </div>
          <div class="col-md-3 d-none d-lg-block d-xl-none">
            <img src="img/logo.png" alt="JipAdvisor logo">
          </div>
        </div>
      </div>
    </div>
    </script>
    <script type="text/x-template" id="login-template">
    <div>
    <main-menu></main-menu>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3 vertical-center">
          <form class="w-100" novalidate>
            <div class="form-group">
              <label for="email">Email address</label>
              <input v-validate="'required|email'" data-vv-delay="1000" name="email" type="email"
              v-model="email" class="form-control" v-bind:class="{'is-invalid': errors.has('email')}" id="email" placeholder="Enter email" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div class="invalid-feedback">
                {{errors.first('email')}}
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input v-validate="'required|min:4|max:256'" data-vv-delay="1000" name="password" type="password" v-model="password" class="form-control" v-bind:class="{'is-invalid': errors.has('password')}" id="password" placeholder="Password">
              <div class="invalid-feedback">
                {{errors.first('password')}}
              </div>
            </div>
            <button type="button" v-on:click="validateBeforeSubmit" class="btn btn-outline-light">Login</button>
          </form>
        </div>
        <div class="col-md-3 d-block d-lg-block d-xl-none">
          <img src="img/logo.png" alt="JipAdvisor logo">
        </div>
      </div>
    </div>
  </div>
  </script>
  <script type="text/x-template" id="default-template">
  <div>
  <main-menu></main-menu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm text-center">
        <img src="img/logo.png" alt="JipAdvisor logo">
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/x-template" id="menu-template">
<nav class="navbar navbar-dark navbar-expand-lg bg-dark justify-content-between">
  <router-link class="navbar-brand" to="home">J|A</router-link>
  <div v-if="!email" class="dropdown">
    <small class="btn btn-outline-light btn-sm dropdown-toggle" id="sign-in-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign in or get an account</small>
    <div class="dropdown-menu" aria-labelledby="sign-in-button">
      <router-link class="dropdown-item" to="login">login</router-link>
      <router-link class="dropdown-item" to="register">register</router-link>
    </div>
  </div>
  <div v-if="email" class="dropdown">
    <small class="btn btn-outline-light btn-sm dropdown-toggle" id="profile-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{email}}</small>
    <div class="dropdown-menu" aria-labelledby="profile-button">
	  <router-link class="dropdown-item" to="profiles">browse profiles</router-link>
      <router-link class="dropdown-item" to="profile">profile</router-link>
      <a href="#" class="dropdown-item" v-on:click="logout">logout</a>
    </div>
  </div>
</nav>
</script>
<script type="text/x-template" id="profiles-template">
<div>
  <main-menu></main-menu>
  <div class="container-fluid">
  	<div v-for="profile in profiles" class="row">
	  <div class="col-md-6 offset-md-3 mt-3">
        <div class="card">
          <div class="card-header">
            <div class="text-left text-dark">{{profile.profileName}}</div>
          </div>
          <img class="card-img-top" :src="profile.imageToken" alt="Card image cap">
          <div class="card-body bg-dark">
            <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-star-o fa-3x" aria-hidden="true"></i>
            <hr>
            <p class="card-text">{{profile.profileText}}</p>
            <hr>
            <a href="#" class="float-right text-light"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br><small>Message</small></a>
          </div>
        </div>
      </div>
    </div>
	<div class="row">
      <div class="mt-3 mx-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/x-template" id="profile-template">
<div>
  <main-menu></main-menu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <div class="card">
          <div class="card-header">
            <div contenteditable="true" class="text-left text-dark">Joe Bloggs</div>
          </div>
          <img class="card-img-top" src="http://via.placeholder.com/400x200" alt="Card image cap">
          
          <div class="card-body bg-dark">
            <hr>	
            <label for="profile-pic">Upload profile picture</label>
            <input class="text-center" type="file" id="profile-pic" name="profile-pic">
            <hr>
            <p contenteditable="true" class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <hr>
            <input name="accept-messages" id="accept-messages" type="checkbox">
            <label for="accept-messages">Accept messages</label>
            <a href="#" class="float-right text-secondary"><i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i><br><small class="float-right">Save</small></a>
          </div>
        </div>
      </div>
	</div>
  </div>
</div>
</script>

<footer class="mt-3">
  <p class="text-center"><a class="text-light" href="https://jipadvisor.com/">J|A</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@2.5.11/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
<script src="js/main.js"></script>
</body>
</html>